<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#"><img width="200" height="70" src="assets/company_logo.png" class="custom-logo" alt="Vantage Circle" itemprop="logo"></a>
        
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <div class="navbar-nav mr-auto mt-2 mt-lg-0">
              <div class="dropdown-list">
                <ul>

                  <li>
                    <div class="dropdown">
                      <a href="#" class="dropbtn">Perks</a><span class="caret"></span>
                      <div class="dropdown-content"> 
                          <div class="row">
                            <div class="col-md-4">
                              <div class="divider-r">
                                <a href="#">Corporate Offers</a>
                                <a href="#">Shop</a>
                                <a href="#">Insurance</a>
                                <a href="#">Dining</a>
                                <a href="#">Buy/Sell</a>
                                <a href="#">More</a>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="divider-r">
                              <a href="#">Samsung</a>
                              <a href="#">Amazon</a>
                              <a href="#">Flipkart</a>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <a href="#"><span class="icon-electronics"></span> &nbsp;Electronics</a>
                              <a href="#"><span class="icon-fashion"></span> &nbsp;Fashion</a>
                              <a href="#"><span class="icon-homeanddining"></span>&nbsp;Home & Kitchen</a>
                              <a href="#"><span class="icon-travel"></span>&nbsp;Travel</a>
                            </div>
                          </div>
                        </div>
                    </div>
                  </li>
                  <li><a href="#">Works</a></li>
                  <li><a href="#">Life</a></li>
                </ul>
              </div>
              
            </div>
            
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="btn-group">
                  <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                      <i class="fas fa-search fa-sm"></i>
                </div>
              </form>
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="img-profile rounded-circle" src="assets/profilepic.png" width="40">
                &nbsp;<span class="mr-2 d-none d-lg-inline text-gray-600 small">My Account</span>
            </a>
          </div>
        </nav>
    <div class="container">
      <div class="col-md-10 mx-auto">
        <div class="card text-center">
           <div class="card-image-top circle" style="background-image: url('assets/profilepic.png')"></div>
            <div class="card-header">
              <div class="text-header">
                <a href="#">Ronie Jackson </a> received Employee of the Month award
              </div>
              <div class="text-header-little">
                By HR Admin | 2 days ago
              </div>
            </div>
            <div class="card-body">
              <div class="feed_background">
                <img src="assets/feed_background.png" width="100%" alt="feed">
                <img src="assets/feed_badge.png" class="feed_badge" width="40%" alt="feed">
              </div>
            </div>
              <div class="card-footer">
                  <i> <font size="4px">Thank you for your great contribution!</font></i>
              </div>

                <div class="card-footer">
                <div class="btn-group" style="width: 100%">
                  <button class="btn likeBtn"><span class="icon-like"></span> &nbsp; 2 Likes</button>
                  <button class="btn commentBtn">
                    <span class="icon-comment"></span> &nbsp; 2 Comments</button>
                </div>
              </div>
          </div>
      </div>
    </div>
  </body>
</html>
